.main
  .main-group
    .main-group__titlle
      = @group.name
      .main-group__titlle__list
        Member:
        - @group.users.each do |user|
          = user.name
    .main-group__btn
      = link_to edit_group_path(@group), class: "main-group__btn__edit" do
        edit

  .main-message
    = render @messages
  .main-form
    = form_for [@group, @message] do |f|
      .main-form__input
        = f.text_field :content, class: 'main-form__input__text',placeholder: 'type a message'
        = f.label :image, class: 'main-form__input__image' do
          = icon('fas','image')
          = f.file_field :image, class: 'main-form__input__image__file'
        = f.submit 'send', class: 'submit-btn'