.side
  .side-top
    .side-top__items
      .side-name
        = current_user.name
      .side-links
        = link_to new_group_path, class: 'side-links__btn' do
          = icon('fas','edit')
        = link_to edit_user_path(current_user) do
          = icon('fas','cog', class: 'side-links__btn')

  .side-group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side-group__top   
          .side-group__top__name
            = group.name
          .side-group__top__message
            = group.show_last_message
