.side
  .side-top
    .side-top__items
      .side-name 世紀末覇者ラオウ
      = current_user.name
      .side-links
        = link_to "#", class: "side-links__btn" do
          = icon('fas','edit')
        = link_to edit_user_path(current_user) do
          = icon('fas','cog', class: 'icon')

  .side-group
    .side-group__top
      .side-group__name 世紀末覇者ラオウ
      .side-group__message 我が生涯に一片の悔いなし
      
    .side-group__top
      .side-group__name 世紀末救世主ケンシロウ
      .side-group__message 北斗神拳は一子相伝